/*主体架构*/
html{
    height:100%;
}
body{
    color: black;
    background-color: #f8f8f8;
    margin: 0 0 0 0;
    height: 100%;
}
header{
    height: 20%;
    background-color: lightslategray;
}
main{
    top:20%;
}
main,.Feedback{
    margin-left: 6%;
    margin-right: 6%;
}


/*网页标题*/
#title_all_page{
    padding: 20px 30px 40px 100px;
    font-size: x-large;
    color: white;
    background-color: lightslategray;
    position: absolute;
}

/*导航*/
nav{
    position: absolute;
    background-color: lightslategray;
    color: white;
    top: 12%;
    width: 100%;
    height: 8%;
}
li{
    width: 80px;
    padding: 8px;
    display: inline;
}
nav a {
    text-decoration-line: none;
    color: white;
}
nav a:hover{
    color: lightgrey;
}
nav a:active{
    color: firebrick;
}



/*有关常用网站的表格*/
.usually_page h1{
    font-size: 18px;
}

#usually_page_table caption{
    font-size: 16px;
    padding: 8px;
}
#usually_page_table{
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    margin-left: 15%;
}
#table_title{
    background-color: #99abc3;
    color: white;
    font-size: large;
}
#usually_page_table td{
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    padding: 8px 10px;
}
#usually_page_table a{
    text-decoration-line: none;
    color: dimgrey;
}
#usually_page_table a:hover{
    color: black;
    font-size: large;
}
#usually_page_table a:active{
    color: firebrick;
}

/*hobby板块*/
.basic_content h1{
    font-size: 18px;
    padding-top: 60px;
}
.basic_content p{
    line-height: 150%;
}

/*Video板块*/
.basic_content iframe{
    width: 600px;
    height: 350px;
    margin: 60px;
    padding-left: 20%;
}

/*反馈板块*/
#feedback{
    margin-left: 6%;
    margin-right: 6%;
}
input #email_address:valid{
    border: 1px solid black;
}
input #email_address:invalid{
    border: 1px solid darkred;
}



/*脚注板块*/
footer{
    text-align: center;
    background-color: dimgrey;
    margin-left: 0;
    margin-right: 0;
}
footer small{
    color: white;
}
footer small a{
    text-decoration-line: none;
    color: white;
}
footer small a:hover{
    color: lightcyan;
}
